body
{
    background-color: #ededed;
}
/*[class*="col-"], footer {
  background-color: lightgreen;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
}
/* CSS DU MENU */
.headerTextMenu
{
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;

    text-align: center;

    color: #f1a900;
}
.blockTexteFeed
{
    width: 715px;
    height: 552px;

    border: solid 1px #f1a900;
    background-color: #ededed;
    box-shadow: -6px 11px 4px 0 #00080, 0 2px 4px 0 #00080;
}
.blockFeedUserInfo
{
    line-height: 40px;

    width: 302px;
    height: 379px;
    margin-right: auto;

    text-align: center;

    border: 2px solid #f1a900;
    box-shadow: -6px 11px 4px 0 #00080, 0 2px 4px 0 #00080;
}
.blockTexteLog
{
    line-height: 40px;

    width: 595px;
    height: 906px;
    margin-right: auto;
    margin-left: auto;

    text-align: center;

    border: 2px solid #f1a900;
}

#logoGrand
{
    width: 213px;
    height: 241px;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    ;
}
#logoPetit
{
    width: 337px;
    height: 153px;
}

.textJaune
{
    font-size: 36px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;

    width: 395px;
    height: 43px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;

    letter-spacing: normal;

    color: #f1a900;
}

.roundedImage
{
    overflow: hidden;

    width: 90px;
    height: 90px;

    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
}

.photoCouv {

  width: 1440px;
  height: 467px;
  opacity: 0.64;
}

.PhotoProfil {
  width: 200px;
  height: 200px;

}
